#form {
    display: flex;
    align-items: center;
  }
  .pagination .page-item .page-link {
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-decoration: none;
}

.pagination .page-item.active .page-link {
  background-color: #2196F3;
  color: #fff;
}

.pagination .page-item.disabled .page-link {
  pointer-events: none;
  opacity: 0.5;
}
