<div class="container" style=" width: 94% !important; padding: 25px !important; height: 100vh !important;">
  <div class="w3-block" >
    <div class="w3-white material-shadow safe-box" >
      <div class="safe-box-header w3-large" style="padding: 5px !important" >
        {{ "تعديل نوع القيد " }}
      </div>
      <div class="border-bottom-dashed"></div>
      <br />
      <div
        class="custom-panel w3-display-container w3-round application-panel student-info-panel"
      >
        <div class="custom-panel-title">{{ "student search" | trans }}</div>
        <div class="custom-panel-body w3-display-container" style="width: 83% !important">
          <input
            class="w3-round-xxlarge w3-white w3-input border-gray search-input"
            style="width: 50% !important"
            (keyup)="searchInputEvent()"
            placeholder="{{
              'search with student name code national_id' | trans
            }}"
            [(ngModel)]="searchKey"
          />

          <div
            class="w3-display-topleft w3-padding"
            (click)="selectStudent({})"
            *ngIf="searchKey && !studentSearchDialogLoader"
            style="top: 12px; left: 30%; z-index: 10"
          >
            <span class="fa fa-close w3-text-red"></span>
          </div>

          <div
            class="w3-display-topleft w3-padding"
            *ngIf="studentSearchDialogLoader"
            style="top: 12px; left: 30%; z-index: 10"
          >
            <span class="fa fa-spin fa-spinner w3-text-indigo"></span>
          </div>

          <div
            class="w3-display-topright w3-white material-shadow"
            *ngIf="studentSearchDialogShow"
            style="top: 47px; right: 11px; z-index: 10; width: 100%"
          >
            <div class="w3-display-conitainer">
              <span
                class="w3-display-topright w3-button fa fa-close"
                (click)="studentSearchDialogShow = false"
              ></span>
              <br />
              <ul class="w3-ul">
                <li
                  *ngFor="let item of students"
                  style="cursor: pointer"
                  class="w3-hover-light-gray w3-block text-right"
                >
                  <div class="media" (click)="selectStudent(item)">
                    <div class="media-left">
                      <a href="#">
                        <img
                          [src]="item.image"
                          style="width: 30px; height: 30px"
                          class="w3-circle"
                          alt=""
                        />

                        <span
                          class="fa fa-user-circle w3-text-indigo w3-large"
                        ></span>
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading" [innerHTML]="item.name"></h4>
                      <span [innerHTML]="item.code" class="w3-large"></span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div>


          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-12" style="margin-bottom: 20px!important;">

            <div class="col-lg-2" style="margin-left: -70px !important;">
              <label for="">{{ " نوع القيد : "   }}</label>
            </div>
              <div class="col-lg-10 ">
                <select
                readonly
                class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm"
                [(ngModel)]="student.case_constraint_id"
              >
                <option
                  *ngFor="let item of studentSettings.CASE_CONSTRAINTS"
                  value="{{ item.id }}"
                >
                  {{ item.name }}
                </option>
              </select>
              </div>
              <div class="col-lg-2" style="margin-left: -70px !important;">
                <label for="">تاريخ الموافقه</label>
              </div>
              <div class="col-lg-10">
                <input type="date" name="acceptance_date" [(ngModel)]="acceptance_date" class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm">
              </div>
              <div class="col-lg-2" style="margin-left: -70px !important;">
                <label for="">كود الموافقه</label>
              </div>
              <div class="col-lg-10">
                <input placeholder="كود الموافقه" type="text" name="acceptance_code" [(ngModel)]="acceptance_code" class="custom-input form-control input-sm w3-input border-bottom-dashed input-sm">
              </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-2" style="margin-left: -70px !important;">
              <label for="">{{ "السبب :" }}</label
              >
            </div>
            <div class="col-lg-10">
              <textarea
                class="w-75"
                style="width: 100% !important"
                id="message-text"
                type="text"
                name="illness_reason"
                [(ngModel)]="illness_reason"
                required
              ></textarea>
            </div>
          </div>
          <div class="col-lg-12 ">
            <label for=""></label><br />

            <button *ngIf="isShow==false"
              id="beforeLoading"
              [disabled]="loading"
              style="margin-right: 52%;"
              (click)="storeAffair()"
              type="button"
              class="btn btn-primary"
            >
              تأكيد
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display2}" style="background-color: rgba(90,90,90,0.5);">
  <div class="modal-dialog" role="document">
      <div class="modal-content" style="    margin-top: 150px;">
          <div class="modal-header" style="background-color:#007aff;">
              <button type="button" class="close" aria-label="Close" >
    <span aria-hidden="true" style="color: #fff">&times;</span>
  </button>

              <p class="modal-title" style="color: #fff">
                  <span style="vertical-align: middle; padding-left:8px">
التخطى
              </span>
              </p>


          </div>

          <div class="modal-body">
            <table calss="table table-striped" >
              <tr>
                  <th>الكود</th>
                  <th>نوع القيد</th>
          
                  <th>التاريخ</th>
                  <th>السبب</th>
          
                  </tr>
                  <tr *ngFor="let item of student?.case_constraint_excuse">
          <td>{{item?.acceptance_code}}</td>
          <td>{{item?.case_constraint?.name}}</td>
          
          <td>{{item?.acceptance_date}}</td>
          <td>{{item?.reason}}</td>
          
                  </tr>
           </table>
           <br>
          <hr>
            <h5> برجاء ادخال كلمة السر للتخطى</h5>

              <input type="text" style="width: 50%;" class="form-control" [(ngModel)]="valepa2" placeholder=" ادخل الرقم السرى">
              <div class="invalid-feedback" *ngIf="notVailed==true">
                  <div style="color: red;"> كلمة السر غير صحيحه </div>
              </div>
          </div>

          <div class="modal-footer">
              <!-- <button class="btn btn-white bbtclose" (click)="onCloseModal2()">
              الغاء
            </button> -->
              <!-- Confirm -->
              <button class="btn btn_color w-40 h-12" style="color: white;
            background-color:#007aff;;
            width: 100px;
            height: 45px;  line-height: 15px;" (click)="increaseTimes()">
     تخطى
  </button>
          </div>


      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>