<div class="container">
    <div class="w3-block">
        <div class="w3-white material-shadow safe-box">
            <div class="safe-box-header w3-large" style="padding: 5px!important">
                خدمة الكتب
            </div>
            <div class="border-bottom-dashed"></div>
            <br>



            <div class="control-body">


                <div class="row">
                    <div class="col-lg-2 col-md-3">
                        <div class="form-group">
                            <label for="">{{ "academic year" | trans }}</label>
                            <select class="form-control" [(ngModel)]="filter.academic_year_id">
        <option value="">{{ "academic year" | trans }}</option>
  <option *ngFor="let item of yearss " value="{{ item.id }}">{{item.name}}</option>
</select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="form-group">
                            <label for="">    الفصل الدراسي</label>
                            <select class="form-control" [(ngModel)]="filter.term_id">
                <option value="">الكل</option>
                <option value="1"> فصل  دراسي اول</option>
                <option value="2"> فصل دراسي ثانى  </option>
                <option value="3"> فصل دراسي صيفى  </option>

            </select>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3">
                        <label for="">{{ "level" | trans }}</label>
                        <select id="level_id" class="form-control input-sm select2 level_id" [(ngModel)]="filter.level_id">
                 <option value="">{{ "level" | trans }}</option>
           <option *ngFor="let item of levels" value="{{ item.id }}">{{item.name}}</option>
         </select>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="form-group">
                            <label for="">الشعبة</label>
                            <select class="form-control" (change)="change($event)" [(ngModel)]="filter.division_id">
              <option value="">الشعبة</option>
        <option *ngFor="let item of divisions" value="{{ item.id }}">{{item.name}}</option>
      </select>
                        </div>
                    </div>



                    <div class="col-lg-2 col-md-3">
                        <div class="form-group">
                            <label for="">   استلام الكتب  </label>
                            <select class="form-control" [(ngModel)]="filter.receive_id">
                    <option value="">الكل</option>
                    <option value="1">  استلم</option>
                    <option value="0"> لم يستلم </option>

                </select>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3">
                        <button mat-raised-button color="primary" (click)=" getData()" style="margin: 21px;">

                      <i *ngIf="isSubmitted1==false" class="fa fa-spin fa-spinner"></i>
                      <!-- <span *ngIf="isSubmitted1==false"> نشكرك على الانتظار جارى حساب المعدل         </span> -->

                      <span *ngIf="isSubmitted1!=false">   بحث       </span>
                         </button>

                    </div>

                </div>
                <br>

                <div class="custom-panel w3-display-container w3-round application-panel student-info-panel" style="height:455px;overflow: auto;margin-left: 78px !important;">
                    <div class="custom-panel-body table-responsive w3-padding" id="printable">
                        <table class="table table-striped" style="background-color: white;" id="tablePrint">
                            <tr>

                                <th scope="col">الاسم</th>
                                <th scope="col">المستوى</th>
                                <th scope="col">التخصص</th>

                                <th scope="col"> خدمة الكتب </th>
                                <th scope="col"> الكتب الاضافية </th>

                                <th scope="col"> ملاحظات</th>


                            </tr>
                            <tr *ngFor="let res of bookData.data  ">

                                <td> {{res.student.name}}</td>

                                <!-- {{res.student.level.name}} -->
                                <td>{{res.student?.level.name}} </td>
                                <!-- {{res.student.division.name}} -->
                                <td>{{res.student.division?.name}}</td>
                                <td>
                                    <input type="checkbox" [checked]="res.receive" (change)="checkValue($event,res)" /> </td>
                                <td><input type="checkbox" [checked]="res.additional_books" (change)="checkValue2($event,res)" /> </td>

                                <td><input type="text" [(ngModel)]="res.note" /> </td>

                                <td> <button mat-raised-button color="primary" (click)=" update(res)">

                                  <i *ngIf="isSubmitted2==false" class="fa fa-spin fa-spinner"></i>
                                  <!-- <span *ngIf="isSubmitted1==false"> نشكرك على الانتظار جارى حساب المعدل         </span> -->

                                  <span *ngIf="isSubmitted2!=false">   تعديل       </span>
                                     </button></td>

                            </tr>
                        </table>
                        <div class="text-center w3-center">

                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a class="" [ngClass]="{'disabled': !bookData.prev_page}" (click)="getData(bookData.prev_page)" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li *ngFor="let item of bookData.pages_arr">
                                        <a class="" [ngClass]="{'active': bookData.current_page == item}" (click)="getData(item)">{{ item  }}</a>
                                    </li>
                                    <li>
                                        <a class="" [ngClass]="{'disabled': !bookData.next_page}" (click)="getData(bookData.next_page)" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>