<div class="row">

  <div class="col-md-3">

    <!-- navbar list -->
    <div class="box box-primary material-shadow">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" style="width: 60%!important" src="/assets/img/application.gif" alt="User profile picture">

        <h3 class="profile-username text-center">{{ "users" | trans }}</h3>


        <ul class="list-group list-group-unbordered">
          <li class="list-group-item" permission="user_read" >
            <a href="#" routerLink='/users/u' >
                <b>{{ "users" | trans }}</b>
                <a href="#"  class="pull-left">
                  <i class="fa fa-users" ></i>
                </a>
            </a>
          </li>
          <li class="list-group-item" permission="role_read" >
            <a href="#" routerLink='/users/role' >
                <b>{{ "roles" | trans }}</b>
                <a href="#"  class="pull-left">
                  <i class="fa fa-th-list" ></i>
                </a>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

  </div>
  <!-- /.col -->
  <div class="col-md-9">
      <router-outlet></router-outlet>
  </div>
  <!-- /.col -->
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayLic}" style="background-color: rgba(90,90,90,0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="    margin-top: 250px;">
            <div class="modal-header" style="background-color:#b10d0d;">
              <p style="color: white;font-size: 20px;"> تنبية</p>
            </div>
            <div class="modal-body">
                <h3 style="color: #b10d0d;"> هذه النسخة غير مرخصة </h3>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>